<article class='post bg-light border border-3 border-dark rounded mt-4'>
  <div class='title'>
    <h3><a href='/post/{{id}}'>{{title}}</a></h3>
  </div>
  <div class='meta'>
    by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    {{comments.length}}
    {{format_plural 'comment' comments.length}}
  </div>
</article>